{% extends 'base.html.twig' %}
{% block body1 %} {% endblock %} 
{% block body2 %}
  <div class="site-section bg-light">
    <div class="container">
      <div class="row justify-content-center  mb-5">
        <div class="col-md-7 text-center">
          <h3 class="scissors text-center">Prestation du salon</h3>
          <p class="mb-5 lead">
          	Vous trouverez ci-dessous tous les services que offre le salon.
          </p>
          <p class="text-center">
            <a href="#" class="btn btn-primary custom-prev">Précédent</a>
            <a href="#" class="btn btn-primary custom-next">Suivant</a>
          </p>
        </div>
      </div>	
      <div class="row">  	
        <div class="col-12">
          <div class="nonloop-block-13 owl-carousel d-flex"> 
            {% for service in services %}
            	<div class="item-1 h">
                <img src="images/img_1.jpg" alt="Image" class="img-fluid">
                <div class="item-1-contents">
                  <h3>{{service.name}}</h3>
                  <ul>
                    <li class="d-flex"><span>Prix de la prestation</span> <span class="price ml-auto">{{service.price}} euros.</span></li>
                    <li class="d-flex"><span>Description de la coupe </span> <span class="price ml-auto">Réservation</span></li>
                  </ul>
                </div>
              </div>
            {% endfor %}
          </div>   
        </div>  
      </div> 
    </div>
  </div> 
{% endblock %}
