{% extends 'b1.html.twig' %}

{% block nav %}
  <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
    <ul class="site-menu main-menu js-clone-nav ml-auto ">
      <li><a href="{{ path('service_index') }}" class="nav-link">Accueil</a></li>
      <li><a href="{{ path('service_test') }}" class="nav-link">test</a></li>
      <li><a href="{{ path('us') }}" class="nav-link">Qui nous sommes</a></li>
    </ul>
  </nav>
{% endblock %}